<section class="top-nav">
    <div class="logo-div">
        <img src="assets/images/Logo Petit.png" alt="" class="logo">
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
    </label>
    <ul class="navbar-nav  mb-2 mb-lg-0 menu">
        <li class="nav-item active">
            <a class="nav-link" href="/" class="{{isCurrentPage('')?'selected-page':''}}">ACCUEIL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/masters" class="{{isCurrentPage('/masters')?'selected-page':''}}">MASTERS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/promotion" class="{{isCurrentPage('/promotion')?'selected-page':''}}">PROMOTIONS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/actualite" class="{{isCurrentPage('/actualite')?'selected-page':''}}">ACTUALITÉS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact" class="{{isCurrentPage('/contact')?'selected-page':''}}">CONTACT</a>
        </li>
    </ul>
</section>